folder:/home/alexander/Downloads/DataBigData/data/GES_data/transformed/
subfolders:2010/,2011/,2012/,2013/,2014/
filenames:accident,drimpair,person,violation,distract,nmcrash,vehicle,vision
ignore:ignore/
max_iter:-1
baskets:250978
joiner:CASENUM
